@media(max-width:992px){

.chart-grid{

    grid-template-columns:1fr;

}

.chart-container{

    height:280px;

}

.pie-container{

    height:230px;

}

.pie-container canvas{

    max-width:180px !important;

    max-height:180px !important;

}

}